lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.metadata
Cordova01-Weusijana/gen
Week04AssignmentWeusijana/gen
SimpleExpress/node_modules
NodeExpressMongo01-Weusijana/node_modules
Week04AssignmentWeusijana/bin
Week05-NodeExpressMongo/node_modules
Week07-Midterm/MidtermWeb-Weusijana/config.json
Week07-Midterm/MidtermWeb-Weusijana/reports
Week04AssignmentWeusijana/local.properties
Week07-Midterm/MidtermCordova_Weusijana/bin
Week07-Midterm/MidtermCordova_Weusijana/local.properties
CopyToS3Part01-Weusijana/config.json
CopyToS3Part01-Weusijana/MarkdownTransformConfig.json
CopyToS3Part01-Weusijana/Options.json
CopyToS3Part01-Weusijana/OptionsServer.json
CopyToS3Part01-Weusijana/somefile.log
CopyToS3Part01-Weusijana/result.xml
/Week09PubSubRequire/.idea/compiler.xml
/Week09PubSubRequire/.idea/copyright/profiles_settings.xml
/Week09PubSubRequire/.idea/encodings.xml
/Week09PubSubRequire/.idea/jsLibraryMappings.xml
/Week09PubSubRequire/.idea/misc.xml
/Week09PubSubRequire/.idea/modules.xml
/Week09PubSubRequire/.idea/.name
/Week09PubSubRequire/.idea/scopes/scope_settings.xml
/Week09PubSubRequire/.idea/vcs.xml
/Week09PubSubRequire/.idea/workspace.xml
/Week09PubSubRequire/Week09PubSubRequire-Weusijana.iml
